
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    margin-top: 10rem;
    width:100%;
}

.weather{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap:1.25rem;
    
}

.card{
    background: white;
    display: flex;
    text-align: center;
    padding:3rem 2rem ;
    flex-direction: column;
    border-radius: 1rem;
    background: linear-gradient(to right, rgba(34, 194, 194, 0.616),#ddd9d6)
}

h2{
    font-size: 1.125rem;
    color: rgb(81, 149, 207);
}

h3{
    font-size: 1rem;
    color: orange;
}
.sun{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:0.625rem;
    flex-direction: row;
    color: palevioletred;
}

p{
    font-size: 0.95rem;
    font-weight: 600;
}



@keyframes move{
    0%{
        transform: translateX(5px);
    }
    100%{
        transform: translateX(-5px);
    }
}

@media(min-width:275px) and (max-width:500px){

    .wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .card{
        padding: 2rem;
        margin-top:3rem;
    }
}

@media(max-width:275px){
    .card{
        padding:1rem;
        margin-top: 5rem;
    }
    .sun{
        display: flex;
        flex-direction: column;
    }
}
@media(width>=1024px){
    h2{
      font-size: 1.5rem;
    }
    h3{
        font-size: 1.125rem;
    }
    p{
        font-size: 1rem;
    }
  }