.container{
    width:100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
    
}


.options{
    position: absolute;
    display: flex;
    flex-direction: row;
    top:2rem;
    left: 50%;
    transform: translate(-50%,0);
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-bottom: 2rem;
    top: 7rem;
    left: 50%;
    transform: translate(-50%,0);
}

input{
    padding:0.5rem 3.2rem;
    border: none;
    border-radius: 0.25rem 0 0 0.25rem;
    outline: none;
   
}
input::placeholder{
   color: rgba(216, 144, 218, 0.696);
   font-size: 0.8rem;
   text-align: center;
   font-weight: 500;
   
}
         

button{
    cursor:pointer;
    
}
.btn-grad {
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%);
    
    padding: 0.55rem 10px;
    border:none;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    font-weight: 500;
    font-size: 0.8rem;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 0px 7px 7px 0px;
    display: block;
  }

  .btn-grad:hover {
    background-position: right center; 
    color: #fff;
    text-decoration: none;
  }
           
  .btn-select {
    background-image: linear-gradient(to right, #00C9FF 0%, #92FE9D  51%, #00C9FF  100%);
    margin: 0.625rem;
    padding: 0.5rem 1.25rem ;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 7px;
    display: block;
    border:none;
    font-weight:600;
  }

  .btn-select:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
  
  .lat{
    padding:0.5rem 0.2rem;
    margin-right: 10px;
    border-radius: 5px;

  }

  .details{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin:1rem;
  }
 
           
  .btn-danger {
    background-image: linear-gradient(to right, #D31027 0%, #EA384D  51%, #D31027  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    border: none;
  }

  .btn-danger:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

  @media (min-width:275px) and (max-width:500px){
    
    .search{
      display: flex;
      flex-direction: column;
      gap:10px;
    }
    input{
      width: 100%;
      
      border-radius: 7px;
    }

    .options{
      display: flex;
      gap:2px;
    }

    
    .btn-grad{
      font-size: 0.5rem;
      border-radius: 5px;
    }
    

    .btn-select{
      
      width:100%;
      text-align:center;
      font-size: 0.5rem;
    }

    .btn-danger{
      padding:10px;
    }
  }

  @media(max-width:275px){
    
    .search{
      display: flex;
      flex-direction: column;
      gap:10px;
    }
    input{
      width: 100%;
      
      border-radius: 7px;
    }

    .btn-select{
      padding:1rem;
    }
    
  }
 
  